
@font-face {
  font-family: 'Quicksand';
  src: url('./assets/Fonts/Quicksand-Regular.ttf') format('woff'),
    url('./assets/Fonts/Quicksand-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Bold';
  src: url('./assets/Fonts/Quicksand-Bold.ttf') format('woff'),
    url('./assets//Fonts/Quicksand-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-Medium';
  src: url('./assets/Fonts/Quicksand-Medium.ttf') format('woff'),
    url('./assets/Fonts/Quicksand-Medium.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Quicksand-SemiBold';
  src: url('./assets/Fonts/Quicksand-SemiBold.ttf') format('woff'),
    url('./assets/Fonts/Quicksand-SemiBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
body {
  font-family: 'Quicksand', sans-serif;
}
