# Default ignored files
/shelf/
backend/.mvn/wrapper/maven-wrapper.properties
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml

# Maven output directories
target/

# Maven wrapper files
.mvn/
mvnw
mvnw.cmd
